<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scrat.app.selectorlibrary">

    <application
        android:supportsRtl="true">
        <activity
            android:name=".activity.ImageSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".activity.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
